.toNhat{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.baoNgoai {
    width: 80px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    font-size: 15px;
}
